h1 {
    font-size: 150px;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    text-align: center;    
    font-size: 40px;
    font-family: arial, sans-serif;
}

a.titles {
    text-decoration: none;
    color: black;
}

.titles.index:hover {
    color: blue;
    text-decoration: underline;
}

.description{
    font-size: 30px;;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
    width: 80%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    border-radius: 8px;
  }

.text {
    font-family: arial, sans-serif;
    color: black;
}

.recipe {
    font-size: 30px;
    display: block;
    width: 80%;
    margin-left: 9%;
}

.end {
    display: block;
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 35px;
}