h1 {
    font-size: 150px;
    text-align: center;
    font-family: impact, sans-serif;
}

.headings {
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
}

.description {
    text-align: center;
}